---
import BaseLayout from '../layouts/base.astro';
import info from '../../public/data/info.json';
import pages from '../../public/data/pages.json';
import testimonials from '../../public/data/testimonials.json';
import {formatDate} from '../utilities/dates.js';

const page = pages.home;
---

<BaseLayout title="Home">
  <main>
    <h1 class="section-title">{ info.name }</h1>
    <p class="section-strapline">{ info.strapline }</p>
    <div class="section-intro">
         {page.body}
    </div>
    <h2 class="section-title">Our diners say nice things</h2>

    {testimonials.map((item) => (
        <div class="testimonial">
            <p class="testimonial-meta">On <time>{ formatDate(item.date)  }</time>, { item.displayName } said: </p>
            <h3>{ item.title }</h3>
            <div>
                { item.body }
            </div>
        </div>
    ))}

    <h2 class="section-title">Opening hours</h2>
    <div class="hours">
    {info.hours.map((day) => (
        <p>{day}</p>
    ))}
    </div>
    <h2 class="section-title">We're ever so social</h2>
    <ul>
    {info.social.map((item) => (
      <li>
        {item.channel} : <a href="item.url">{item.displayName} </a>
      </li>
    ))}
    </ul>
  </main>
</BaseLayout>


<style>

.testimonial{
  margin: 1rem 0;
}
.testimonial-meta {
  font-size:1em;
  color:var(--secondary-text-color);
}
.testimonial h3 {
  margin: 0.5rem 0 0.5rem;
  font-size: 1.5rem;;
}
.testimonial div {
  margin: 0;
}
</style>